.clinics__page__container {
    padding-top: 120px;
}
.clinics__page_name {
}
.page__name_wrapper {
}
.page_name_block1 {
}
.page_name_block2 {
}
.page_name_block3{
    
}
.page_name_block3 img{
    position: absolute;
    left: 60px;
}
.maliye_page_name_img {
}
.clinics__page__wrapper {
    width:1200px;
    margin: 0 auto;

    margin-top: 82px;
}
.tab {
    width: 850px;
    margin: 0 auto;
    position: relative;
    height: 50px;

}
.tablinks {
position: absolute;
width: 218px;
height: 40px;
border-radius: 14px;
background-color: rgba(196, 196, 196, 1);

font-family: "Oswald", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
    text-align: center;
    color: #fff;

    transition: ease-in 0.5s;

}
.tablinks:hover{
    background-color: rgba(188, 26, 26, 1);
    color: #fff;
    font-family: "Oswald", sans-serif;
transform: scale(1.1);
}
.tablinks:nth-child(1){
    left: 0;
}
.tablinks:nth-child(2){
    left: calc(50% - 109px);
}
.tablinks:nth-child(3){
    right: 0;
}
.clinics__page__content {
}
.tabcontent {
}
.clinics__search__block {
}
.search_form__container {
}
.search_form__block {
}
.search_form_button {
}
.clinics__search__result__wrapper {
}
.clinics__result__element {
}
.clinics__element__name {
}
.clinics__element__adress {
}
.clinics__element__number {
}
.clinics__svg {
}
.clinics_red {
}
.clinics_circle {
}