.contact__page__wrapper {
    padding-top: 90px;
}
.contact__page__mainblock {
    background-color: #009CA6;
    min-height: calc(100vh - 90px);
}
.contact__page__mainblock__hello {
}
.contact__page__mainblock__hellotext {
}
.contact__page__hello {
}
.contact__page__hellotext {
}
.contact__page__mainblock__image {
}
.contact__page__social__wrapper {
}
.contact__page__social__element {
}
.contact__page__social__element_name {
}
.contact__page__social__element__desc {
}
.contact__page__social__element__popup {
}
.contact__page__social__element__social {
}
.contact__page__social__element__social_link {
}
.contact__page__social__element__rectangle {
}
.contact_page__map_info {
}
.contact__page__map__info__wrapper {
}
.contact__page__map {
}
.contact__page__info_wrapper {
}
.contact__page__info__element {
}
.contact__page__info__element_name {
}
.contact__page__info__element__desc {
}
.contact__page__info__element__desc_desc {
}