.contact__page__wrapper {
  padding-top: 55px;
}

.contact__page__mainblock {
  background-color: #009ca6;
  min-height: calc(100vh - 55px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;
}

/********блок с приветствием **********/
.contact__page__mainblock__hello {
  width: 88%;
  height: 100%;

  position: relative;
  margin: 0 auto;
}

/********Блок с приветствием**********/
.contact__page__mainblock__hellotext {
  padding-top: 180px;
  color: rgba(255, 255, 255, 1);
}

.contact__page__hello {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 20px;
}

.contact__page__hellotext {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  width: 50%;
}

/*********Главная картинка***********/
.contact__page__mainblock__image {
  position: absolute;
  right: 0;
}

/***связь с нами и текст и соц сети*****/
.contact__page__social__wrapper {
  position: relative;
  width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__page__social__element {
  width: 32%;
  height: 210px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact__page__social__element:nth-child(1) {
  border-right: 2px solid #ffffff;
}

.contact__page__social__element:nth-child(2) {
  border-right: 2px solid #ffffff;
}

.contact__page__social__element_name {
  color: #ffffff;
  text-transform: uppercase;


  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}  

.contact__page__social__element__desc {
  color: #ffffff;
  font-family: "Roboto", sans-serif;

  font-weight: 300;



  margin-top: 17px;
  width: 80%;






font-family: Roboto;
font-size: 20px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

.contact__page__social__element__desc span {
  font-weight: 700;
}

.contact__page__social__element__popup {
  position: absolute;
  bottom: 15%;
}

.contact__page__social__element__popup a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  

  height: 31px;
  width: 112px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 7px 45px;

  transition: ease-in-out 0.2s;
}

.contact__page__social__element__popup a:hover {
  background-color: #fff;
  color: #009ca6;
}

.contact__page__social__element__social {
  position: absolute;
  bottom: 10%;
  width: 60%;
  display: flex;

}

.contact__page__social__element__social_link {
  width: 33px;
  height: 33px;
  margin-right: 11px;
}
.contact__page__social__element__social_link a {
  display: block;
  width: 33px;
  height: 33px;
}
.contact__page__social__element__social_link a img{
  width: 100%;
}
/***связь с нами и текст и соц сети - Треугольник*****/
.contact__page__social__element__rectangle {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.contact_page__map_info {
  width: 100%;
  min-height: 525px;
  background-color: #eaeaea;
}

.contact__page__map__info__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.contact__page__map {
  width: 37%;
  height: 690px;
}

.contact__page__map__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.contact__page__map__navigation {
  position: absolute;
  width: 82px;
  height: 30px;

  right: 10px;
  top: 20px;
  z-index: 30;
}

.tab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out 0.5s;
}

.tab button.active {
  background-color: #bc1a1a;
  transform: scale(1.15);
}

.tablinks {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background-color: #C4C4C4;
  width: 100%;
  padding: 3px 0px;
  border-radius: 9px;

font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;

margin-bottom: 10px;    
transition: ease-in 0.2s;
}

.contact__page__map__map {
}

.tabcontent {
  z-index: 10;
  position: absolute;

  height: 100%;
  background-color: black;
}

.tabcontent iframe {
  width: 100%;
  height: 100%;
}

.contact__page__map__rectangle {
  position: absolute;
  bottom: 0;
  right: -1px;
  z-index: 30;
}




.contact__page__info_wrapper {
  width: 70%;
  padding: 28px 82px 28px 50px;
}

.contact__page__info__container {
  width: 100%;
  height: 100%;
  display: flex;

    
}
.contact__page_info_block-main {
  width: 35.7%;

  border-right: 2px solid rgba(0, 156, 166, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__main-name {
  font-family: "Oswald", sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 47px;
letter-spacing: 0em;
text-align: left;
color: rgba(188, 26, 26, 1);


margin-bottom: 34px;
}
.contact__main__contentblock {
}
.contentblock__wrapper {
}
.contentblock__name {
  font-family: "Oswald", sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: rgba(188, 26, 26, 1);
margin-bottom: 4px;
}
.contentblock__adress {
  display: flex;
  align-items: center;
}
.contentblock__adress_img {
  margin-right: 10px;
}
.contentblock__adress_img img {
  width: 16.5px;
  height: 20.25px;
}
.contentblock__adress_text {
  font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.contentblock__email {
  display: flex;
  align-items: center;
}
.contentblock__email_img {
  margin-right: 10px;
}
.contentblock__email_img img{
  width: 16.5px;
  height: 13.2px;
}
.contentblock__email_text {
  font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.contentblock__call {
  display: flex;
}
.contentblock__call_img {
  margin-top: 5px;
  margin-right: 10px;
  width: 16.5px;
  height: 16.5px;
}
.contentblock__call_img  img {
  width: 16.5px;
  height: 16.5px;
}
.contentblock__call_text {
  font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.contact__page_info_block-second {
  width: 64.3%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__second-name {
  position: absolute;
  top: 0;

  font-family: "Oswald", sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 47px;
letter-spacing: 0em;
text-align: left;

color: rgba(87, 86, 86, 1);

}
.contact__page_info_block-second .contentblock__name{
  color: rgba(87, 86, 86, 1);
}
.contact__page_info-second__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.contact__page_info-second__wrapper:nth-child(2){

}
.contact__second__contentblock {
}








.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 86, 86, 0.7);
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;

  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  border-radius: 25px;
  color: #000;
  padding: 35px 25px;
  width: 400px;
  position: relative;

  /******анимациб открытия тут писать***********/
}

.popup__close {
  position: absolute;
  right: 13px;
  top: 13px;
}

.close-popup {
  font-size: 20px;
  color: #2f2f2f;
}

.popup__content__container {
  width: 100%;
  height: 100%;
}

.popup__content__name {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;



font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: left;

}

.popup__content__desc {
  font-family: "Roboto", sans-serif;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  
}

.popup__content__input {
  width: 100%;
  border: 1px solid #575656;
  border-radius: 12px;
  padding: 5px;
  margin-top: 10px;
  height: 47px;
}

.popup__content__input input {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  
}

.popup__content__textarea {
  width: 100%;
  border: 1px solid #575656;
  border-radius: 12px;
  padding: 5px;
  margin-top: 10px;
}

.popup__content__textarea textarea {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.popup__content__submit {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.popup__content__submit button {
  background-color: rgba(188, 26, 26, 1);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;


  border-radius: 10px;

font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

width: 167px;
height: 37px;

}
.contact__page__info__element__desc_desc img {
  margin-right: 15px;
  margin-top: 5px;
}
.contact__page__info__element__desc_desc{
  align-items: start;
}



















/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 100%;
  color: rgba(0, 156, 166, 1);
  text-align: center;


  font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
 /*  color: #2f2f2f; */
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #009CA6 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #009CA6 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {

  padding: 5px 10px;
  border: 1px solid transparent;
 
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 81%;
  left: -6px;
  right: 0;
  z-index: 99;
  width: 350px;
  border: 1px solid #575656;
  border-top: none;
  border-radius: 0px 0px 10px 10px;

  padding-top:  2px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div {
  color: rgba(87, 86, 86, 1);
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
  margin-left: 4px;
}
.select-items div:hover, .same-as-selected {
  color: #bc1a1a;

font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;


}

@media only screen and (max-width: 1601px) {
  .contact__page__map {
    height: 580px;
  }

  .popup__content__input input {
    padding: 8px 10px;
  }

  .popup__content__desc {
    margin-top: 0;
  }

  .contact__page__social__element__rectangle {
    left: 20px;
    bottom: 20px;
  }
}

