.faq__page__block {
    width: 100%;

}
.faq__page__container {
    width: 100%;
    background: #009CA6;
    min-height: 100vh;
}
.faq__page__name {
}
.faq__page__wrapper {
}
.faq__page__element {
}
.faq__page__element__wrapper {
}
.faq__page__element__name {
}
.faq__page__element__desc {
}