.ferdi_seyahet_container {
    padding-top: 140px;
    background-color: #009CA6;
}
.ferdi_seyahet__page_name {
    color: #fff;
}
.ferdi_seyahet__page_name img{
    position: absolute;
    left: calc(50% - 109px);
}
.page_name_block_ferdi_seyahet p{
    color: #fff;
}
.page_name_block1 p{
    font-weight: 300;

}
.ferdi__seyahet__content__container {
}
.ferdi__seyahet__content__element {
}
.ferdi__seyahet__content__element__text {
}
.ferdi__seyahet__content__desc {
}
.ferdi__seyahet__content__desc-name {
}
.ferdi__seyahet__content__desc-line {
}
.ferdi__seyahet__content__desc_text {
}
.ferdi__seyahet__content__additional {
}
.ferdi__seyahet__content__document {
}