.polis__count__container_avto .tibbi__order__block a{
    background: #009CA6;
}
.polis__count__name img {
    right: calc(50% - 94px);
    bottom: -10px;

}
.polis__count__desc_block{
    max-width: 926px;
}