.ferdi_seyahet_container {
    padding-top: 140px;
    background-color: #009CA6;
    position: relative;
}
.ferdi_seyahet__page_name {
    color: #fff;
}
.ferdi_seyahet__page_name img{
    position: absolute;
    left: calc(50% - 109px);
}
.page_name_block_ferdi_seyahet p{
    color: #fff;
}
.page_name_block1 p{
    font-weight: 300;

}
.seyahet_palent{
    display: block;
    position: absolute;
    top: 50px;
}
.ferdi__seyahet__content__container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1168px;
    margin: 0 auto;
    margin-top: 60px;
}
.ferdi__seyahet__content__element {
    width: 564px;
    height: 521px;
background-color: #EFF5F7;
position: relative;

}
.ferdi__seyahet__content_rect{
    position: absolute;
}
.ferdi__seyahet__content__element1{
    padding: 21px 33px 0px 27px;
}
.ferdi__seyahet__content__element2{
    padding: 21px 74px 0px 54px;
}
.ferdi__seyahet__content__element__text {
    font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 300;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: rgba(87, 86, 86, 1);
}
.ferdi__seyahet__content__desc {
}
.ferdi__seyahet__content__desc-name {
}
.ferdi__seyahet__content__desc-line {
}
.ferdi__seyahet__content__desc_text {
}
.ferdi__seyahet__content__additional {
}
.ferdi__seyahet__content__document {
}