.navigation__wrapper {
  height: 90px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px -9px 61px 0px rgba(0, 0, 0, 0.25);

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
}
/********Общие стили******************/

.navigation__container {
  width: 95.5%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__logo {
}
.navigation__call_number p {
  font-family: "Roboto", sans-serif;
  background-color: rgba(216, 217, 217, 0.52);
  color: #bc1a1a;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  padding: 4px 18px;
  left: 210px;
  top: 15px;
  border-radius: 39px;
}
.navigation__ferdi__sexslere {
}
.navigation__korporativ__sexslere a {
    background-color: #bc1a1a;
    border: 3px solid #bc1a1a;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    padding: 8px 45px;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
}
.navigation__korporativ__sexslere a:hover{
    background-color: #fff;
    color: #bc1a1a;
    border: 3px solid #bc1a1a;
}
.navigation__payment a {
  background-color: rgba(0, 156, 166, 1);

color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding: 10px 45px;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
}
.navigation__payment a:hover {

}
.navigation__login a {
display: flex;

  align-items: center;
}
.login__link__text {
  font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: rgba(188, 26, 26, 1);
margin-right: 10.75px;

}
.login__link__foto {
}
/*******Кнопка ЯЗЫКИ*******/

/*
.dropbtn::after {
  content: "";
  transition: 0.5s;
  position: absolute;
  width: 15px;
  height: 15px;

  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  margin-left: 10px;
  transform: rotate(-45deg);
}

.dropbtn::after:hover {
  transform: rotate(-225deg);
}

.dropdown:hover .dropbtn::after {
  transform: rotate(-225deg);
}
*/
/****************ferdi korporativ sehslere************************/
.dropbtn {
  background-color: #bc1a1a;
  border: 3px solid #bc1a1a;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding: 8px 45px;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #fff;
  color: #bc1a1a;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: ease-in-out 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: ease-in-out 0.3s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
  transition: ease-in-out 0.3s;
}

.dropdown__block {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(87, 86, 86, 1);
}
.dropdown__wrapper {
  width: 92%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.dropdown__element {
  width: 25%;

  height: 100%;

}
.dropdown__element:nth-child(2){
    border-left: 1px solid rgba(87, 86, 86, 1);

}
.dropdown__element:nth-child(3){
    border-right: 1px solid rgba(87, 86, 86, 1); 
    border-left: 1px solid rgba(87, 86, 86, 1); 
}
.dropdown__element__wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;

}
.dropdown__element2{
  border: none;
}
.dropdown__element__image {
}
.dropdown__element__name {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 156, 166, 1);
}
.dropdown__element__desc {
    font-family: "Roboto", sans-serif;
    color: rgba(87, 86, 86, 1);
font-size: 20px;
font-weight: 300;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}
.dropdown__element_none{
    width: 25%;

    height: 100%;
    border: none;
}













/* Dropdown menu css */
.dropdown-container {

  width: 100%;
}
.dropdown-container .dropdown-toggle {
  color: #000000;
  background-color: #ffffff;
  font-size: 17px;
  padding: 18px 20px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.3s;
}
.dropdown-container .dropdown-toggle label {
  cursor: pointer;
  width: 100%;
}
.dropdown-container .dropdown-toggle:hover, .dropdown-container .dropdown-toggle:active, .dropdown-container .dropdown-toggle:focus {
  background-color: #0979ce;
  color: #ffffff;
}
.dropdown-container .dropdown-menu {
  width: 100vw;
  border-radius: 10px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  margin-top: 17px;
  position: absolute;
  left: 0;

  display: none;
  background-color: #ffffff;
  z-index: 10;
}

.dropdown-container .dropdown-menu a:hover, .dropdown-container .dropdown-menu a:active, .dropdown-container .dropdown-menu a:focus {
  background-color: #0979ce;
  color: #ffffff;
}

.dropdown-menu,
.dropdown-toggle {
  position: relative;
}

.dropdown-toggle::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border: 5px solid;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  margin-top: -2.5px;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.2s;
}

.dropdown-menu {
  z-index: 10;
  position: relative;
}

.dropdown-open .dropdown-menu.dropdown-active {
  display: block;
}

.dropdown-container.dropdown-open .dropdown-toggle {
  background-color: #0979ce;
  color: #ffffff;
}
.dropdown-container.dropdown-open .dropdown-toggle:before {
  transform: rotate(-135deg);
}

.dropdown-bordered .dropdown-toggle {
  border: 2px solid #000000;
  border-radius: 10px;
}
.dropdown-bordered .dropdown-toggle:hover, .dropdown-bordered .dropdown-toggle:active, .dropdown-bordered .dropdown-toggle:focus {
  background-color: #0979ce;
  color: #ffffff;
  border-color: #ffffff;
}
.dropdown-bordered .dropdown-menu {
  border: 2px solid #000000;
  border-radius: 10px;
}
.dropdown-bordered .dropdown-menu::before {
  border-color: #000000;
}
.dropdown-bordered .dropdown-menu a {
  box-shadow: none;
  border-bottom: 2px solid #000000;
}
.dropdown-bordered .dropdown-menu li:last-child a {
  border-bottom: 0;
}

.dropdown-gradient .dropdown-toggle,
.dropdown-gradient .dropdown-menu,
.dropdown-gradient a {
  background: #ff3131;
  background: -moz-linear-gradient(262deg, #ff3131 11%, #5400ff 100%);
  background: -webkit-linear-gradient(262deg, #ff3131 11%, #5400ff 100%);
  background: linear-gradient(262deg, #ff3131 11%, #5400ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3131",endColorstr="#5400ff",GradientType=1);
  color: #ffffff;
}
.dropdown-gradient .dropdown-toggle::before {
  color: #ffffff;
}
.dropdown-gradient .dropdown-menu a {
  background: none;
  box-shadow: none;
  color: #ffffff;
}
.dropdown-gradient .dropdown-menu a:hover, .dropdown-gradient .dropdown-menu a:active, .dropdown-gradient .dropdown-menu a:focus {
  background: #ff3131;
  background: -moz-linear-gradient(66deg, #ff3131 11%, #5400ff 100%);
  background: -webkit-linear-gradient(66deg, #ff3131 11%, #5400ff 100%);
  background: linear-gradient(66deg, #ff3131 11%, #5400ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3131",endColorstr="#5400ff",GradientType=1);
}
.dropdown-gradient .dropdown-menu::before {
  box-shadow: none;
  border-color: #ff3131;
}

.dropdown-solid .dropdown-toggle,
.dropdown-solid .dropdown-menu {
  background-color: #0979CE;
  color: #ffffff;
}
.dropdown-solid .dropdown-menu a {
  color: #ffffff;
}
.dropdown-solid .dropdown-menu a:hover, .dropdown-solid .dropdown-menu a:active, .dropdown-solid .dropdown-menu a:focus {
  background-color: #ffffff;
  color: #000000;
}
.dropdown-solid .dropdown-menu::before {
  border-color: #0979CE;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
