.navigation__wrapper {
  height: 90px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px -9px 61px 0px rgba(0, 0, 0, 0.25);

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
}
/********Общие стили******************/

.navigation__container {
  width: 95.5%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__logo {
}
.navigation__call_number p {
  font-family: "Roboto", sans-serif;
  background-color: rgba(216, 217, 217, 0.52);
  color: #bc1a1a;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  padding: 4px 18px;
  left: 210px;
  top: 15px;
  border-radius: 39px;
}
.navigation__ferdi__sexslere {
}


.navigation__payment a {
  background-color: rgba(0, 156, 166, 1);

color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding: 10px 45px;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
}
.navigation__payment a:hover {

}
.navigation__login a {
display: flex;

  align-items: center;
}
.login__link__text {
  font-family: "Roboto", sans-serif;
font-size: 19px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: rgba(188, 26, 26, 1);
margin-right: 10.75px;

}
.login__link__foto {
}
/*******Кнопка ЯЗЫКИ*******/

/*
.dropbtn::after {
  content: "";
  transition: 0.5s;
  position: absolute;
  width: 15px;
  height: 15px;

  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  margin-left: 10px;
  transform: rotate(-45deg);
}

.dropbtn::after:hover {
  transform: rotate(-225deg);
}

.dropdown:hover .dropbtn::after {
  transform: rotate(-225deg);
}
*/
/****************ferdi korporativ sehslere************************/
.dropbtn {
  background-color: #fff;
  border: 3px solid rgba(87, 86, 86, 1);
  color: rgba(87, 86, 86, 1);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding: 8px 8px;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #fff;

}
.dropdown_arrow{
  margin-top: 5px;
  transition: ease-in 0.3s;
}
.rotateimage{
  transform: rotate(180deg);
}
.dropdown {
  position: relative;
  display: inline-block;
  transition: ease-in-out 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  transition: ease-in-out 0.3s;
  left: 5%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
  transition: ease-in-out 0.3s;
}

.dropdown__block {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(87, 86, 86, 1);
}
.dropdown__wrapper {
  width: 92%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.dropdown__element {
  width: 25%;

  height: 100%;
  border-bottom: 4px solid rgba(188, 26, 26, 0);
  transition: ease-in 0.3s;
}

.dropdown__element:nth-child(2){
    border-left: 1px solid rgba(87, 86, 86, 1);

}
.dropdown__element:nth-child(3){
    border-right: 1px solid rgba(87, 86, 86, 1); 
    border-left: 1px solid rgba(87, 86, 86, 1); 
}

.dropdown__element2{
  border: none;
}
.dropdown__element__image {
}
.dropdown__element__name {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 156, 166, 1);
}
.dropdown__element__desc {
    font-family: "Roboto", sans-serif;
    color: rgba(87, 86, 86, 1);
font-size: 20px;
font-weight: 300;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}
.dropdown__element_none{
    width: 25%;

    height: 100%;
    border: none;
}












/*! Dropdown menu css */
/*! Dropdown menu css */
/*! Dropdown menu css */
/*! Dropdown menu css */
.dropdown-container {

  width: 100%;
}
.dropdown-container .dropdown-toggle {
  font-family: "Roboto", sans-serif;
  color: #fff;
/*  width: 215px;*/
  text-align: center;
  background-color: #bc1a1a;
  font-size: 17px;
  padding: 11px 18px 10px 18px;
  border: 3px solid #bc1a1a;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.dropdown-container .dropdown-toggle label {
  cursor: pointer;
  width: 100%;
}
.dropdown-container .dropdown-toggle:hover, .dropdown-container .dropdown-toggle:active, .dropdown-container .dropdown-toggle:focus {
  background-color: #ffffff;
  color: #bc1a1a;
}
.dropdown-container .dropdown-toggle:hover .dropdown-menu{
  display: block;
}


.dropdown-container .dropdown-menu {
  width: 100vw;
  border-radius: 10px;

  padding-top: 17px;
  position: absolute;
  left: 0;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2);
  display: none;
  background-color: #ffffff;
  z-index: 10;
}

.dropdown-container .dropdown-menu a:hover, .dropdown-container .dropdown-menu a:active, .dropdown-container .dropdown-menu a:focus {
  background-color: #ffffff;
  color: #bc1a1a;
}

.dropdown-menu,
.dropdown-toggle {
  position: relative;
}


.dropdown-menu {
  z-index: 10;
  position: relative;
}

.dropdown-open .dropdown-menu.dropdown-active {
  display: block;
}

.dropdown-container.dropdown-open .dropdown-toggle {
  background-color: #ffffff;
  color: #bc1a1a;
}
.dropdown-bordered .dropdown-toggle {
  border: 2px solid #000000;
  border-radius: 10px;
}



.dropdown__element__wrapper {
  display: block;
    width: 100%;
    height: 100%;
    padding: 30px;
    transition: ease-in 0.3s;
}
.dropdown__element:hover {
  border-bottom: 4px solid rgba(188, 26, 26, 1);

}
.dropdown__element:hover .dropdown__element__wrapper{
  padding: 10px 30px 50px 30px;
}
.dorpdown__element__arrow{
  position: absolute;
  bottom: 10%;
  opacity: 0;
  transition: ease-in 0.3s;
}
.dropdown__element:hover .dorpdown__element__arrow {
  opacity: 1;
}
.dropdown-container:hover .dropdown-menu {display: block;}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
