.korporativ__tibbi__container {
  margin-top: 120px;
}
.korporativ__tibbi__page_name {
}
.korporativ__tibbi__page_name img {
  position: absolute;
  left: calc(50% - 0px);
}
.page__name_wrapper {
}
.page_name_block1 {
  text-transform: uppercase;
  font-weight: 300;
}
.page_name_block2 {
}
.page_name_block3 {
}

.korporativ__tibbi__desc {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  color: rgba(87, 86, 86, 1);
  margin-top: 30px;
}
.korporativ__tibbi__additional_name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  color: rgba(87, 86, 86, 1);
}
.korporativ__tibbi__additional_name span {
  color: rgba(188, 26, 26, 1);
  font-weight: 700;
}
.korporativ__tibbi__content {
  width: 1060px;

  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(87, 86, 86, 1);
}
.korporativ__tibbi__content p {
  margin-top: 7px;
}
.korporativ__tibbi__desc_additional {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(87, 86, 86, 1);

  width: 985px;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 10px;
}
.korporativ__tibbi__desc_additional span {
  color: rgba(188, 26, 26, 1);
  font-weight: 500;
}

.korporativ__tibbi__desc__additional-list {
  display: flex;
  width: 756px;
  justify-content: space-between;
  margin: 0 auto;
}
.korporativ__tibbi__desc__additional-list_element {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(87, 86, 86, 1);
}
.korporativ__tibbi__pakets {
  margin: 0 auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(87, 86, 86, 1);
  margin-top: 35px;
  margin-bottom: 35px;
}
.korporativ__tibbi__pakets span {
  color: rgba(188, 26, 26, 1);
  font-weight: 500;
  text-transform: uppercase;
}

.korporativ__tibbi__pakets__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}
.korporativ__tibbi__pakets__element {
  height: 590px;
  width: 400px;
  background: linear-gradient(180deg, #de937b 0%, #f2d6ca 100%);
}
.korporativ__tibbi__pakets__element_wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 13px 13px 12px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.korporativ__tibbi__pakets__element_image {
  height: 50%;
}
.korporativ__tibbi__palets__element__content_wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.korporativ__tibbi__pakets__element_name {
  width: 100%;
  text-align: center;

  font-family: Oswald;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;

  color: rgba(87, 86, 86, 1);
}
.korporativ__tibbi__pakets__element_content {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(87, 86, 86, 1);
}
.korporativ__tibbi__pakets__element_content-text {
}
.korporativ__tibbi__pakets__element_content-list {
}
.korporativ__tibbi__pakets__element_content__showmore {
  width: 100%;
display: flex;
justify-content: flex-end;
}
.korporativ__tibbi__pakets__element_content__showmore a {
  display: block;
  width: 105px;
  height: 30px;
  background: #DF947C;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #fff;
}