.korporativ__tibbi__calc{
    padding-top: 100px;
}

.korporativ__tibbi__calc__page_name .page_name_block1_korporate p{
    color: rgba(188, 26, 26, 1);
    text-transform: uppercase;
    font-weight: 300;
}
.korporativ__tibbi__calc__page_name{
    position: relative;
}
.korporativ__tibbi__calc__page_name img{
    display: block;
    position: absolute;
}


/*********************************/
.korporativ__form__container {
    width: 100%;
    margin-top: 41px;
}
.korporativ__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.korporativ__input__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.korporativ__input__desc {
    width: 40%;
    margin-right: 42.5px ;
    background-color: red;
    text-align: right;
}
.korporativ__input__block {
    width: 40%;
    margin-left: 42.5px ;
    background-color: green;
    text-align: left;
}