.korporativ__tibbi__calc__page_name .page_name_block1_korporate p{
    color: rgba(188, 26, 26, 1);
    text-transform: uppercase;
    font-weight: 300;
}
.korporativ__tibbi__calc__page_name img{
    display: block;
    position: absolute;
}