.maliye__page__container {
}
.maliye__page__wrapper {
  margin-top: 80px;
}
.maliye__page_name {
    position: relative;
    height: 100%;
}
.page__name_wrapper {
    font-family: "Roboto", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}
.maliye_page_name_img{
    display: block;
    position: absolute;
    bottom: -13px;
    left:calc(50% - 120px);
}
.page_name_block1 {
}
.page_name_block2 {
}
.maliye__page__content {

    margin: 0 auto;
    margin-top: 75px;
    position: relative;
    overflow: hidden;
}
.tab {
    display: flex;
    width: 1105px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}
.tab button{
    border-radius: 10px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    width: 85px;
height: 33px;
    
background: #C4C4C4;
}
.tab button.active {
    background-color: #bc1a1a;
    transform: scale(1.15);
  }
  
.tablinks{
    width:  85px;
    height: 33px;
}
.maliye__page__content__container{
    width: 100%;


    max-width: 1105px;
    margin:  0 auto;

    position: relative;
    margin-bottom: 20px;
}
 .maliye__svg{
    position: absolute;
    right: -40px;
    top: 12%;
}
.maliye_circle{
    left: -80.2px;
    top: 10%;
    position: absolute;
}
.tabcontent {
    width: 100%;
}
.tabcontent__container{
    width: 100%;

}
.tabcontennt__wrapper {
    max-width: 967px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tabcontent___element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 172px;
    border: 1px solid rgba(120, 120, 120, 1);
    border-radius: 25px;
    margin-top: 37px;
}
.tabcontent___element__image {
}
.tabcontent___element__name {
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 151px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 13px;
    color: rgba(87, 86, 86, 1);
    margin-top: 16px;

}
.tabcontent___element__size {
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 151px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 11px;
    color: rgba(121, 121, 121, 1);
}

.maliye__page_name2{
    margin-top: 50px;
}
.maliye__page_name2 .maliye_page_name_img{
    bottom: -21px;
    left: calc(50% - 102px);
}
.maliye__page__documents {
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    position: relative;
}
.maliye__page__documents__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.maliye__page__documents__element {
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;

    width: 40%;
}
.maliye__page__documents__element img{
    width: 36.6px;
    height: 47px;
}
.maliye__page__documents__element  p {
    font-family: "Roboto", sans-serif;
    font-style: 16px;
    font-weight: 400;
    max-width: 510px;
    margin-left: 19px;
    line-height: 18.75px;
    color: rgba(87, 86, 86, 1);
}
.maliye__page__documents__element  p  span{
    color: rgba(121, 121, 121, 1);
}
.maliye_red{
    position: absolute;
    left: -60px;
    top: 70%;
}