.polis__count__container {
  width: 100%;
  margin-top: 112px;
}
.polis__count__wrapper {
}
.polis__count__name {
  width: 100%;
  position: relative;
}
.polis__count__name img {
  position: absolute;
  right: calc(50% - 97px);
}
.page_name_block_tibbi_calc {
  margin-right: 10px;
}
.page_name_block1 p:nth-child(1) {
  color: rgba(188, 26, 26, 1);
  font-weight: 300;
}

.page__name_wrapper {
}
.page_name_block1 {
}
.page_name_block_tibbi {
}
.page_name_block2 {
}
.page_name_block3 {
}
.page_name_block4 {
  position: relative;
}

.polis__count__desc {
  margin-top: 45px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.polis__count__desc_block {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.polis__count__desc_block p:nth-child(1) {
  margin-right: 4px;
  color: rgba(188, 26, 26, 1);
  display: flex;
  align-items: center;
}
.polis__count__desc_block p:nth-child(1) img {
  margin-right: 5px;
}
.polis__count__desc_block p:nth-child(2) {
  color: rgba(141, 141, 141, 1);
}
.polis__count-form {
  width: 100%;
}
.polis__count-form form {
  margin-top: 42px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.polis__count-form__input_element {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 42px;

  margin-bottom: 10px;
}
.polis_input_element_desc {
  width: 100%;
  padding-right: 80px;
  display: flex;
  justify-content: flex-end;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(121, 121, 121, 1);
}
.polis_input_element_input {
  width: 100%;
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
.polis_input_element_input_container {
  width: 356px;

  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid rgba(190, 190, 190, 1);
}
.polis_input_element_input_container input {
  width: 100%;
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(190, 190, 190, 1);
}
.polis_input_element_radio{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
/*****************************************/
/*****************************************/
/*****************************************/
input[type="radio"] {
  display: none;
}
label {
  width: 93px;
  height: 27px;
  display: inline-block;
  border: 1px solid rgba(190, 190, 190, 1);
  cursor: pointer;
  border-radius: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(120, 120, 120, 1);

  margin-right: 24px;
}

.blank-label {
  display: none;
}
input[type="radio"]:checked + label {
  background-color: grey;
  color: #fff;
  border-radius: 10px;
}



/****************************/
.add_new__person_tibbi {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 18px;
}
.button__add__new_person button{
  background-color:  rgba(0, 156, 166, 1);
  width: 125px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;

  font-family: "Roboto", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: right;
color: #fff;
}
.add__new__user__number{
  width: 100%;
  margin-top: 41px;
  margin-bottom: 30px;
  text-align: center;
}
.add__new__user__number p{
  display: block;
  font-family: "Oswald", sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 47px;
letter-spacing: 0em;
text-align: center;
color: rgba(87, 86, 86, 1);


}



/********************************/
.tibbi__calculation {
  width: 100%;

  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tibbi_calculation__block {
  width: 368px;
  height: 57px;
  border: 1px solid rgba(214, 214, 214, 1);
  border-radius: 15px;
  padding: 10px 14px 10px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;



}
.tibbi_calc_price p{
  font-family: "Roboto", sans-serif;
font-size: 25px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: right;
color:rgba(87, 86, 86, 1);
;

}
.tibbi_calc_button button{
  width: 136px;
  height: 36px;
  border-radius: 8px;
  background-color: rgba(188, 26, 26, 1);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;

}
.tibbi__order {
  width: 100%;
  text-align: center;
}
.tibbi__order__block{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}
.tibbi__order__block a{
  display: block;
  width: 136px;
  height: 36px;
  text-align: center;
  background-color: #8D8D8D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;

color: #fff;
border-radius: 8px;
}
tibbi__order__block-active a{
  background-color: #009CA6;
}