
.medical_tibbi__page {
    margin-top: 125px;

}
.medical_tibbi__page_name {
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;

    
}
.medical_tibbi__page_name img{
    position: absolute;
    left: calc(50% - 215px);
    transform: scale(0.4);
    top: 43px;
}
.medical_tibbi__page_name  {
    position: relative;
}
.page__name_wrapper {
}
.page_name_block1 {
}
.page_name_block-faq {
}
.page_name_block2 {
}
.page_name_block3 {
}
.medical__blocks__wrapper {
    width: 88.88%;
    margin: 0 auto;
    margin-top: 75px;
}
.medical__block__element {
    height: 283px;

    background-color: aquamarine;
    margin-bottom: 25px;
    padding: 10px;


    font-family: "Roboto", sans-serif;


font-family: Roboto;
font-size: 16px;
font-weight: 300;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
.medical__element__wrapper {
}
.medical__element__image {
}
.medical__element__content {
    background-color: aliceblue;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
